@emerald:registry=https://us.artifactory.gcso.cbre.com/artifactory/api/npm/devx-npm-nonprod-virtual/
@emerald-react:registry=https://us.artifactory.gcso.cbre.com/artifactory/api/npm/devx-npm-nonprod-virtual/
@emerald-angular:registry=https://us.artifactory.gcso.cbre.com/artifactory/api/npm/devx-npm-nonprod-virtual/
